<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=devise-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/af2dae2a1a.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <main>
          <p id="notice"></p>
          <div class="container">
              <div class="row">
                  <div class="px-3 mx-auto">
                      <h1>
                          Welcome to
                          <i class="fa-solid fa-book"></i>
                          <strong>Bookers</strong>
                          !
                      </h1>
                  </div>
              </div>
          </div>
      </main>
  </body>
</html>